@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400px;
  line-height: 18px;
  color: #515076;
  width: 1110;
  background-image: url(/images/backround.jpg);
  background-repeat: repeat;
  background-position: 200px;
  background-attachment: fixed;
}

.title {
  text-align: center;
  line-height: 78px;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 110px;
  margin-top: 220px;
}

h4 {
  font-size: 20px;
  line-height: 27px;
}

.product-card {
  width: 340px;
  height: auto;
  padding: 25px;
  background-color: #f7f7fa;
}

.product-header {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-compound {
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
  margin-bottom: 25px;
  list-style-type: circle;
}

.product-price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.product-list {
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  list-style: none;
  width: 1110px;
  margin: 0 auto 116px;
}

.for-normal-skin {
  font-size: 12px;
  line-height: 24px;
  color: #a5a3b9;
}
